/*reset margin padding*/
body{
    margin: 0 !important;
    padding: 0 !important;
}
.red{
    border: 1px red red;
}
.grenn{
    border: 1px solid green;
}
.banner {
   
    height: 500px;
    
  
    background: url(./banner.jpg) center center no-repeat;
}
.about-signin{
    height: 80px;

    width: 100%;
}
.about,.signin{
    text-decoration: none;
    float:  right;
}